<div class="p-5">
  <h1><strong>Mes réservations</strong></h1>
</div>

<div class="row">
  <div class="col-9 col-md-6 offset-lg-1">
    <% @bookings.each do |booking| %>
      <div class="card-castle">
        <%= link_to castle_path(booking.castle) do %>
          <% if booking.castle.photo.attached? %>
            <%= cl_image_tag booking.castle.photo.key, width: 120, height: 120 %>
          <% end %>
        <% end %>
        <div class="d-flex align-items-center">
          <div class="card-castle-infos">
            <h2><%= booking.castle.name %></h2>
            <p>Période: du <%= booking.opening_date %> au <%= booking.ending_date %></p>
            <p>Prix par jour: <%= number_with_delimiter(booking.castle.price_per_day, :delimiter => " ") %>€</p>
          </div>

          <div>
            <%= link_to "Annuler ma réservation", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row pt-3">
  <div class="col-9 col-md-6 offset-lg-1">
      <%= link_to "Retour à la liste", castles_path, class:"btn btn-primary mt-3" %>
    </div>
</div>
