<div class="p-3">
  <h1><strong>Mes réservations</strong></h1>
</div>

<% @bookings.each do |booking| %>
  <%= link_to castle_path(booking.castle) do %>
    <% if booking.castle.photo.attached? %>
      <%= cl_image_tag booking.castle.photo.key, crop: :fill, width: 500, height: 300 %>
    <% end %>
  <% end %>
  <h2><%= booking.castle.name %></h2>
<%= link_to "Supprimer ma réservation", booking_path(booking), class:"btn btn-primary mt-3", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<% end %>
<%= link_to "Retour à la liste", castles_path, class:"btn btn-primary mt-3" %>
