      <%= simple_form_for(@castle) do |f|%>
        <div class="form-inputs">

          <%= f.input :name, :label => 'Nom', placeholder: "Nom de votre château" %>
          <%= f.input :category, :placeholder => 'Type de château', collection: Castle::CATEGORIES %>
          <%= f.input :address, :label => 'Addresse',
                      input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                      wrapper_html: {data: {controller: "address-autocomplete",
                                            address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
          <%= f.input :description, placeholder: 'Décrivez ici votre incroyable château' %>
          <%= f.input :price_per_day, :label => 'Prix par nuit (en EUR)' %>
          <%= f.input :number_of_guests, :label => "Nombre d'invités maximum" %>
          <%= f.input :special_feature, :label => 'Activité proposée à vos invités', collection: Castle::SPECIAL_FEATURES %>
          <%= f.input :photo, :label => 'Votre photo principale', as: :file %>
          <%= f.input :pictures, :label => 'Vos photos supplémentaires', as: :file, input_html: { multiple: true } %>
        </div>

        <div class="form-actions mt-4">
          <%= f.button :submit, "Créer mon château", class:"btn-new-form" %>
        </div>
      <% end %>
