<div class="p-3">
  <h1><strong>Nos Châteaux</strong></h1>
</div>

<div class="main-container mb-5 ml-3">
  <div class="cards">

      <% @castles.each do |castle| %>
          <div class="card-trip">
              <% if castle.photo.present? %>
                <%= cl_image_tag castle.photo.key %>
              <% else %>
                <img src="https://lakewoodcampground.com/wp-content/uploads/2021/06/photos-coming-soon.jpg" alt="">
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h3><%= link_to castle.name, castle_path(castle.id) %></h3>
                  <p><%= castle.description.truncate(200) %></p>
                </div>
                <h2 class="card-trip-pricing"></h2>
              </div>
          </div>
        <% end %>
  </div>

  <div id="map" class="mt-3" style ="width: 600px; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>
