
  <% if @castle.photo.present? %>
    <div class="main-image" style="background-image: url('<%= cl_image_path @castle.photo.key, height: 400, crop: :fill %>')">
        <div class="container">
          <h2 class="title-image"><strong><%= @castle.name %></strong></h2>
        </div>
    </div>

  <% else %>
    <img width=400px height=300px src="https://www.distefanosales.com/wp-content/uploads/2023/08/image-coming-soon-placeholder.png" alt="">
  <% end %>

  <% if @castle.pictures.present? %>
    <% @castle.pictures.each do |picture| %>
      <%= cl_image_tag picture.key, width: 400, height: 300, crop: :fill %>
    <% end %>
  <% end %>

<div class="container">

  <div class="details">

    <div class="card-description">
      <div class="mt-3">
        <p><%= @castle.description %></p>
      </div>

      <div class="mt-3">
        <% if @castle.special_feature == "Arrivée en Carrosse" %>
          <p><i class="fa-solid fa-horse"></i> Arrivée en Carrosse</p>
        <% elsif @castle.special_feature == "Manoir Hanté" %>
          <p><i class="fa-solid fa-ghost"></i> Manoir Hanté</p>
        <% elsif @castle.special_feature == "Petit-Déjeuner de Prince ou de Princesse" %>
          <p><i class="fa-solid fa-mug-saucer"></i><i class="fa-solid fa-bread-slice"></i> Petit-Déjeuner de Prince ou de Princesse</p>
        <% elsif @castle.special_feature == "Dîner gastronomique" %>
          <p><i class="fa-solid fa-utensils"></i> Dîner gastronomique</p>
        <% elsif @castle.special_feature == "Visite de château" %>
          <p><i class="fa-brands fa-fort-awesome"></i> Visite de château</p>
        <% elsif @castle.special_feature == "Verre de bienvenue" %>
          <p><i class="fa-solid fa-martini-glass"></i> Verre de bienvenue</p>
        <% elsif @castle.special_feature == "Chambre Royale" %>
          <p><i class="fa-solid fa-bed"></i> Chambre Royale</p>
        <% end %>
      </div>
    </div>


    <div class="card-booking">
      <div id="owner">
        <p>Nom de l'hôte: <strong><%= @castle.user.email.split('@').first.capitalize %></strong></p>
      </div>



      <div class="bookingform" data-controller="form-calculate-day" data-action="submit->form-calculate-day#calculate">
          <%= simple_form_for [@castle, @booking] do |f|%>
            <div>
              <%= f.input :opening_date, 'data-target': 'opening_date',
                      as: :string,
                      input_html: { data: { controller: "datepicker" } } %>
              <%= f.input :ending_date,
                      as: :string,
                      input_html: { data: { controller: "datepicker" } } %>

            </div>
            <div class="form-actions mb-3">
              <%= f.button :submit, "Demande de réservation", class:"btn btn-primary mt-3" %>
            </div>

          <% end %>
      </div>
    </div>
  </div>
  <%= link_to "Retour", castles_path, class: "btn-retour" %>
</div>
